* {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-x: hidden;
}

header {
    background-color: white;
}

nav {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li {
    margin: 10px;
    padding: 0px 40px;
}

nav .menu a {
    text-decoration: none;
    color: rgb(97, 152, 255);
}

nav .home a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h1 {
    font-family: 'Kodchasan';
    font-size: 40px;
}

.home {
    flex: 1;
    font-family: 'Pecita';
    font-size: 30px;
    padding: 0 0 0 40px;
}

.home a:hover {
    text-decoration: none;
}

.menu {
    flex: 2;
    justify-content: flex-end;
    align-items: baseline;
    font-family: 'Kodchasan';
    font-size: 18px;
    font-weight: bold;
}

.menu li {
    transition: 1s;
}

.menu li:hover {
    transform: scale(1.15);
    transition: 0.8s;
}

strong {
    color: rgb(97, 152, 255);
}

#html strong {
    color: #89e060;
}

#css strong {
    color: #9481e9;
}

#js strong {
    color: #f1c057;
}

section {
    display: block;
    font-size: 18px;
    font-family: 'Kodchasan';
    gap: 20px;
    padding: 60px;
    text-align: justify;
    align-items: end;
}

#home {
    background-color: rgb(183, 208, 255);
}

#html {
    background-color: #cdffb6;
}

#css {
    background-color: #c3b6ff;
}

#js {
    background-color: #ffe8b6;
}

section .content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

section a {
    text-decoration: none;
    color: rgb(97, 152, 255);
    font-family: 'Kodchasan';
    font-size: 18px;
    font-weight: bold;
    transition: 1s;
}

section a:hover {
    font-family: 'Kodchasan';
    font-size: 26px;
    font-weight: bold;
    transition: 0.8s;
}

section .bonus {
    background-color: white;
}

section .description {
    background-color: white;
}

section .description,
section .bonus {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;

    padding: 20px;
    border-radius: 20px;
    border-color: #2A2E2C;
    margin-top: 20px;
}

section .github {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    border-radius: 20px;
    border-color: #2A2E2C;
    background-color: white;
    margin-top: 20px;

    text-align: center;
}

section .html-overview {
    grid-column: 2;
    grid-row: 2 / 4;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border-radius: 20px;
    border-color: #2A2E2C;
    background-color: white;

    text-align: center;
}

section .css-overview {
    grid-column: 3;
    grid-row: 1 / 3;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border-radius: 20px;
    border-color: #2A2E2C;
    background-color: white;
    margin-top: 20px;

    text-align: center;
}

section .js-overview {
    grid-column: 3;
    grid-row: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border-radius: 20px;
    border-color: #2A2E2C;
    background-color: white;

    text-align: center;
}

.core {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1;
}

.bonus {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.techniques {
    display: flex;
}

.techniques ul {
    margin-top: 20px;
    margin-left: 20px;
    list-style: none;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.techniques li {
    border-radius: 25px;
    border-color: #2A2E2C;
    width: fit-content;
    background-color: white;
    padding: 15px;
    margin: 2px;
    text-align: center;
}

@keyframes colors {
    0% { background-color: rgb(255, 119, 119); }
    20% { background-color: rgb(255, 209, 124); } 
    40% { background-color: rgb(255, 255, 109); } 
    60% { background-color: rgb(132, 255, 132); } 
    80% { background-color: rgb(108, 177, 255); } 
    100% { background-color: rgb(255, 148, 210); }
}

#magic {
    width: 80%;
    height: 60px;
    animation-name: colors; 
    animation-duration: 8s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}
  

input:checked + .slider {
    background-color: rgb(97, 152, 255);;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
}

.code {
    margin-top: 20px;
}

.code img {
    margin-top: 10px;
}

.centered-content {
    text-align: center; 
}